/////FONT VARS
$stemSemilight: "Stem SemiLight";
$stemMedium: "Stem Medium";

@font-face {
  font-family: "Stem Medium";
  src: url("Stem-Medium.eot");
  src: local("Stem Medium"), local("Stem-Medium"),
    url("../fonts/Stem-Medium.eot") format("embedded-opentype"),
    url("../fonts/Stem-Medium.woff2") format("woff2"),
    url("../fonts/Stem-Medium.woff") format("woff"),
    url("../fonts/Stem-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Stem SemiLight";
  src: url("Stem-SemiLight.eot");
  src: local("Stem Extra Light"), local("Stem-ExtraLight"),
    url("../fonts/Stem-SemiLight.eot") format("embedded-opentype"),
    url("../fonts/Stem-SemiLight.woff2") format("woff2"),
    url("../fonts/Stem-SemiLight.woff") format("woff"),
    url("../fonts/Stem-SemiLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/*************** основные шрифты ***************/
/////FONT VARS
$stemSemilight: "Stem SemiLight";
$stemMedium: "Stem Medium";
h1 {
  font-size: 4em;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: "Stem Medium";
  font-weight: 500;
}
.h2--main {
  padding-bottom: 40px;
}
h2.main,
.h2--main {
  color: #1d1700;
  position: relative;
  padding-left: 63px;
}

h2.main::before,
.h2--main::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: #0278e5;
  height: 2px;
  width: 40px;
  left: 0;
  top: 15px;
}

p {
  font-family: "Stem SemiLight";
  font-weight: 350;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/*************** font extra styling ***************/

.h3-light {
  font-family: "Stem SemiLight";
  font-weight: 350;
}
.p-lg {
  font-size: 24px;
  font-family: "Stem Medium";
  font-weight: 500;
  line-height: normal;
}
.p-colored {
  color: $color-blue;
  font-family: "Stem Medium";
  font-weight: 500;
}
.span-zoomed {
  font-size: 36px;
  font-family: "Stem Medium";
  font-weight: 500;
}
.p-bold {
  font-family: "Stem Medium";
  font-weight: 500;
}

/// navigation desktop font styles
.sidebar__link,
.header__nav-link {
  display: inline-block;
  color: $color-black;
  font-size: 20px;
  font-family: "Stem Medium";
  font-weight: 500;
  text-transform: uppercase;
}
.sidebar__link-sm {
  color: $color-black;
  font-size: 18px;
}
.sidebar___tooltip-link {
  color: $color-black;
  font-size: 18px;
}
.sidebar___tooltip-link,
.sidebar___link,
.sidebar___link-sm {
  &:hover {
    color: $color-blue;
  }
}
.features span {
  font-family: "Stem SemiLight";
  font-weight: 350;
}
